@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
  background-color: #648CFE;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  width: 180px;
  margin: 20px;
  cursor: pointer;
}
h1{
  margin: 0 0 30px 0;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 1px;
  
}
.counter-container{
    width: 600px;
    height: 450px;
    background-color: #4EC4E8;
    border-radius: 180px 0 180px 0 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
span{
  font-size: 80px;
  font-weight: bolder;
  color: #234197;
  padding: 20px;
}
button{
  margin-top: 30px;
  width: 120px;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  background-color: #FCEC64;
  color: #234197;
  outline: none;
  font-weight: bold;
  letter-spacing: 1px;
}
.negative{
  color: rgb(225, 4, 4);
}
.positive{
  color: rgb(3, 181, 3);
}